<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Collecte des déchets</ion-title>
        <ion-buttons end>
            <button (click)="showModal($event)" ion-button outline>Configurer</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!isConfigured()">
        <p>Aucun arrondissement de configuré!</p>
    </div>
    <div *ngIf="isConfigured()">
        <h2>{{ config.configs.arrondissement }}</h2>
        
            <ion-list>
                <ion-item *ngFor="let notification of notifications">
                    <ion-card>
                        <ion-card-header><strong>{{ formatDate(notification.data) }} - {{ getDay(notification.data) }}</strong></ion-card-header>
                        <ion-card-content><p>{{ notification.text }}</p></ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list>

    </div>
</ion-content>
