page-home {
    .scroll-content {
        background-color: #f4f4f4;
    }

    .card-content {
        white-space: normal !important;
    }

    .item {
        background-color: #f4f4f4 !important;
        padding-left: 0;

        .item-inner {
            padding-right: 0 !important;

            .label-md {
                margin-right: 0 !important;
            }
        }
    }
}
