page-home {
    .scroll-content {
        background-color: #f4f4f4;

        .message {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        h2 {
            text-align: center;
        }
    }

    .list ion-item:not(:first-child) * {
        color: #aaa !important;
    }

    .card-content {
        white-space: normal !important;
    }

    .item {
        background-color: #f4f4f4 !important;
        padding-left: 0;

        .item-inner {
            padding-right: 0 !important;

            .label-md {
                margin-right: 0 !important;
            }
        }
    }
}
